.application-title {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.application {
    background-color: rgb(16, 108, 200);
    color: white;
    padding-left: 20px;
}

.login-mobile {
    position: fixed;
    top: 5%;
    left: calc(50% - 110px);
}

.login-confirm {
    position: fixed;
    text-align: center;
    top: calc(40%);
    width: 100%;
}

.login-desktop {
    text-align: center;
}

@media screen and (width: 300px) and (height: 370px) {
    .login-desktop {
        margin-top: 20px;
        left: calc(50% - 120px);
    }
}

@media screen and (min-width: 301px) {
    .login-desktop {
        position: fixed;
        top: calc(50% - 135px);
        left: calc(50% - 120px);
    }
}

.login-language {
    position: fixed;
    bottom: 15px;
    left: calc(50% - 35px);
}

@media screen and (max-height: 310px) {
    .login-language {
        display: none;
    }
}

.login-timer {
    width: 224px;
}