<div ng-controller="SendCtrl as ctrl" layout="column" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 md-truncate flex>
                <md-icon>android</md-icon>
                <span>{{::'label.title.datagram' | translate}}</span>
            </h2>
            <md-button ng-disabled="mainFrom.$invalid" class="md-raised md-warn" ng-click="ctrl.send();">
                <md-icon>send</md-icon>
                <span>{{::'label.button.send' | translate}}</span>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="mainFrom">
            <div layout="row" layout-align="center">
                <md-input-container flex="15">
                    <label>{{::'label.ui.send.format' | translate}}</label>
                    <md-select name="type" ng-model="ctrl.type" required class="md-no-underline">
                        <md-option value="json">{{::'label.ui.send.format.json' | translate}}</md-option>
                        <md-option value="xml">{{::'label.ui.send.format.xml' | translate}}</md-option>
                    </md-select>
                    <div ng-messages="mainFrom.type.$error">
                        <div ng-message="required">{{::'label.field.message.required' | translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container flex="15">
                    <label>{{::'label.ui.send.datagram' | translate}}</label>
                    <md-select name="datagram" ng-model="ctrl.datagram" required class="md-no-underline">
                        <md-option value="com.sfit.ms.auto.dto.debug.PingReqDto">{{::'label.ui.send.ping' | translate}}</md-option>
                    </md-select>
                    <div ng-messages="mainFrom.datagram.$error">
                        <div ng-message="required">{{::'label.field.message.required' | translate}}</div>
                    </div>
                </md-input-container>
            </div>
            <hr/>
            <div layout="row" layout-align="center">
                <div flex>
                    <md-input-container>
                        <label>{{::'label.ui.send.request' | translate}}</label>
                        <textarea name="req" ng-model="ctrl.req" minbytes="1" maxbytes="10" ng-model-options="{charset: 'gbk'}" rows="20" max-rows="20" cols="120" wrap="off" md-detect-hidden="false" ng-change="ctrl.reset();"></textarea>
                        <div ng-messages="mainFrom.req.$error">
                            <div ng-message="charset">{{::'label.field.message.charset' | translate:'gbk'}}</div>
                            <div ng-message="minbytes">{{::'label.field.message.minbytes' | translate:1}}</div>
                            <div ng-message="maxbytes">{{::'label.field.message.maxbytes' | translate:10}}</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container>
                        <label>{{::'label.ui.send.response' | translate}}</label>
                        <textarea name="rsp" ng-model="ctrl.rsp" rows="20" max-rows="20" cols="120" wrap="off" md-detect-hidden="false" readonly="on"></textarea>
                    </md-input-container>
                </div>
            </div>
        </form>
    </md-content>
</div>