#heading {
    margin-top: 4em
}

h1.title {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    display: block;
    float: left
}

.scores-container {
    text-align: right;
    float: right
}

.best-container,.score-container {
    min-height: 2.5em;
    min-width: 5em;
    position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: 700;
    border-radius: 3px;
    color: #fff;
    margin-top: 8px;
    text-align: center
}

.best-container:after,.score-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da
}

.best-container .score-addition,.score-container .score-addition {
    position: absolute;
    right: 30px;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    color: rgba(119,110,101,.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -ms-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.score-container:after {
    content: "Score"
}

.best-container:after {
    content: "Best"
}

#instructions {
    padding-top: .5em
}

#instructions .restart-button {
    margin-top: -.5em
}

.restart-button {
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    display: block;
    text-align: center;
    float: right;
    border: 0
}

#game-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 40px auto
}

.game-overlay {
    width: 400px;
    height: 400px;
    background-color: rgba(255,255,255,.47);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    padding-top: 35%;
    font-size: 3em;
    font-weight: 700;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.game-overlay.ng-enter {
    transition: all 1000ms ease-in;
    -webkit-transform: translate(0,100%);
    transform: translate(0,100%);
    opacity: 0
}

.game-overlay.ng-enter-active {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1
}

.game-overlay .lower {
    display: block;
    margin-top: 29px;
    font-size: 16px
}

.game-overlay .lower a {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    margin-left: 9px
}

#game-3 {
    position: relative;
    padding: 15px;
    cursor: default;
    background: #bbaaa0;
    border-radius: 6px;
    width: 400px;
    height: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#game-3 .grid-container {
    position: absolute;
    z-index: 1;
    margin: 0 auto
}

#game-3 .grid-container .grid-cell {
    width: 113.33333px;
    height: 113.33333px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238,228,218,.35)
}

#game-3 .grid-container .grid-cell:last-child {
    margin-right: 0
}

#game-3 .tile-container {
    position: absolute;
    z-index: 2
}

#game-3 .tile-container .tile {
    font-family: 'Open Sans',sans-serif;
    position: absolute;
    width: 113.33333px;
    height: 113.33333px;
    border-radius: 3px;
    transition: 170ms ease-in-out;
    transition-property: transform;
    z-index: 2
}

#game-3 .tile-container .tile.tile-merged .tile-inner {
    -webkit-animation: pop 200ms ease-in;
    -ms-animation: pop 200ms ease-in;
    animation: pop 200ms ease-in
}

#game-3 .tile-container .tile.position-0-0 {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0)
}

#game-3 .tile-container .tile.position-0-1 {
    -webkit-transform: translate(0px,128.33333px);
    transform: translate(0px,128.33333px)
}

#game-3 .tile-container .tile.position-0-2 {
    -webkit-transform: translate(0px,256.66667px);
    transform: translate(0px,256.66667px)
}

#game-3 .tile-container .tile.position-1-0 {
    -webkit-transform: translate(128.33333px,0);
    transform: translate(128.33333px,0)
}

#game-3 .tile-container .tile.position-1-1 {
    -webkit-transform: translate(128.33333px,128.33333px);
    transform: translate(128.33333px,128.33333px)
}

#game-3 .tile-container .tile.position-1-2 {
    -webkit-transform: translate(128.33333px,256.66667px);
    transform: translate(128.33333px,256.66667px)
}

#game-3 .tile-container .tile.position-2-0 {
    -webkit-transform: translate(256.66667px,0);
    transform: translate(256.66667px,0)
}

#game-3 .tile-container .tile.position-2-1 {
    -webkit-transform: translate(256.66667px,128.33333px);
    transform: translate(256.66667px,128.33333px)
}

#game-3 .tile-container .tile.position-2-2 {
    -webkit-transform: translate(256.66667px,256.66667px);
    transform: translate(256.66667px,256.66667px)
}

#game-3 .tile-container .tile.tile-2 .tile-inner {
    background: #EEE4DA
}

#game-3 .tile-container .tile.tile-4 .tile-inner {
    background: #EAE0C8
}

#game-3 .tile-container .tile.tile-8 .tile-inner {
    background: #F59563
}

#game-3 .tile-container .tile.tile-16 .tile-inner {
    background: #39f
}

#game-3 .tile-container .tile.tile-32 .tile-inner {
    background: #ffa333
}

#game-3 .tile-container .tile.tile-64 .tile-inner {
    background: #cef030
}

#game-3 .tile-container .tile.tile-128 .tile-inner {
    background: #E8D8CE
}

#game-3 .tile-container .tile.tile-256 .tile-inner {
    background: #990303
}

#game-3 .tile-container .tile.tile-512 .tile-inner {
    background: #6BA5DE
}

#game-3 .tile-container .tile.tile-1024 .tile-inner {
    background: #DCAD60
}

#game-3 .tile-container .tile.tile-2048 .tile-inner {
    background: #B60022
}

#game-3 .tile-container .tile:last-child {
    margin-right: 0
}

#game-3 .tile-container .tile .tile-inner {
    line-height: 118.33333px;
    text-align: center;
    font-weight: 700;
    z-index: 10;
    font-size: 2.5em
}

#game-4 {
    position: relative;
    padding: 15px;
    cursor: default;
    background: #bbaaa0;
    border-radius: 6px;
    width: 400px;
    height: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#game-4 .grid-container {
    position: absolute;
    z-index: 1;
    margin: 0 auto
}

#game-4 .grid-container .grid-cell {
    width: 81.25px;
    height: 81.25px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238,228,218,.35)
}

#game-4 .grid-container .grid-cell:last-child {
    margin-right: 0
}

#game-4 .tile-container {
    position: absolute;
    z-index: 2
}

#game-4 .tile-container .tile {
    font-family: 'Open Sans',sans-serif;
    position: absolute;
    width: 81.25px;
    height: 81.25px;
    border-radius: 3px;
    transition: 170ms ease-in-out;
    transition-property: transform;
    z-index: 2
}

#game-4 .tile-container .tile.tile-merged .tile-inner {
    -webkit-animation: pop 200ms ease-in;
    -ms-animation: pop 200ms ease-in;
    animation: pop 200ms ease-in
}

#game-4 .tile-container .tile.position-0-0 {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0)
}

#game-4 .tile-container .tile.position-0-1 {
    -webkit-transform: translate(0px,96.25px);
    transform: translate(0px,96.25px)
}

#game-4 .tile-container .tile.position-0-2 {
    -webkit-transform: translate(0px,192.5px);
    transform: translate(0px,192.5px)
}

#game-4 .tile-container .tile.position-0-3 {
    -webkit-transform: translate(0px,288.75px);
    transform: translate(0px,288.75px)
}

#game-4 .tile-container .tile.position-1-0 {
    -webkit-transform: translate(96.25px,0);
    transform: translate(96.25px,0)
}

#game-4 .tile-container .tile.position-1-1 {
    -webkit-transform: translate(96.25px,96.25px);
    transform: translate(96.25px,96.25px)
}

#game-4 .tile-container .tile.position-1-2 {
    -webkit-transform: translate(96.25px,192.5px);
    transform: translate(96.25px,192.5px)
}

#game-4 .tile-container .tile.position-1-3 {
    -webkit-transform: translate(96.25px,288.75px);
    transform: translate(96.25px,288.75px)
}

#game-4 .tile-container .tile.position-2-0 {
    -webkit-transform: translate(192.5px,0);
    transform: translate(192.5px,0)
}

#game-4 .tile-container .tile.position-2-1 {
    -webkit-transform: translate(192.5px,96.25px);
    transform: translate(192.5px,96.25px)
}

#game-4 .tile-container .tile.position-2-2 {
    -webkit-transform: translate(192.5px,192.5px);
    transform: translate(192.5px,192.5px)
}

#game-4 .tile-container .tile.position-2-3 {
    -webkit-transform: translate(192.5px,288.75px);
    transform: translate(192.5px,288.75px)
}

#game-4 .tile-container .tile.position-3-0 {
    -webkit-transform: translate(288.75px,0);
    transform: translate(288.75px,0)
}

#game-4 .tile-container .tile.position-3-1 {
    -webkit-transform: translate(288.75px,96.25px);
    transform: translate(288.75px,96.25px)
}

#game-4 .tile-container .tile.position-3-2 {
    -webkit-transform: translate(288.75px,192.5px);
    transform: translate(288.75px,192.5px)
}

#game-4 .tile-container .tile.position-3-3 {
    -webkit-transform: translate(288.75px,288.75px);
    transform: translate(288.75px,288.75px)
}

#game-4 .tile-container .tile.tile-2 .tile-inner {
    background: #EEE4DA
}

#game-4 .tile-container .tile.tile-4 .tile-inner {
    background: #EAE0C8
}

#game-4 .tile-container .tile.tile-8 .tile-inner {
    background: #F59563
}

#game-4 .tile-container .tile.tile-16 .tile-inner {
    background: #39f
}

#game-4 .tile-container .tile.tile-32 .tile-inner {
    background: #ffa333
}

#game-4 .tile-container .tile.tile-64 .tile-inner {
    background: #cef030
}

#game-4 .tile-container .tile.tile-128 .tile-inner {
    background: #E8D8CE
}

#game-4 .tile-container .tile.tile-256 .tile-inner {
    background: #990303
}

#game-4 .tile-container .tile.tile-512 .tile-inner {
    background: #6BA5DE
}

#game-4 .tile-container .tile.tile-1024 .tile-inner {
    background: #DCAD60
}

#game-4 .tile-container .tile.tile-2048 .tile-inner {
    background: #B60022
}

#game-4 .tile-container .tile:last-child {
    margin-right: 0
}

#game-4 .tile-container .tile .tile-inner {
    line-height: 85px;
    text-align: center;
    font-weight: 700;
    z-index: 10;
    font-size: 2.5em
}

#game-5 {
    position: relative;
    padding: 15px;
    cursor: default;
    background: #bbaaa0;
    border-radius: 6px;
    width: 400px;
    height: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#game-5 .grid-container {
    position: absolute;
    z-index: 1;
    margin: 0 auto
}

#game-5 .grid-container .grid-cell {
    width: 62px;
    height: 62px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238,228,218,.35)
}

#game-5 .grid-container .grid-cell:last-child {
    margin-right: 0
}

#game-5 .tile-container {
    position: absolute;
    z-index: 2
}

#game-5 .tile-container .tile {
    font-family: 'Open Sans',sans-serif;
    position: absolute;
    width: 62px;
    height: 62px;
    border-radius: 3px;
    transition: 170ms ease-in-out;
    transition-property: transform;
    z-index: 2
}

#game-5 .tile-container .tile.tile-merged .tile-inner {
    -webkit-animation: pop 200ms ease-in;
    -ms-animation: pop 200ms ease-in;
    animation: pop 200ms ease-in
}

#game-5 .tile-container .tile.position-0-0 {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0)
}

#game-5 .tile-container .tile.position-0-1 {
    -webkit-transform: translate(0px,77px);
    transform: translate(0px,77px)
}

#game-5 .tile-container .tile.position-0-2 {
    -webkit-transform: translate(0px,154px);
    transform: translate(0px,154px)
}

#game-5 .tile-container .tile.position-0-3 {
    -webkit-transform: translate(0px,231px);
    transform: translate(0px,231px)
}

#game-5 .tile-container .tile.position-0-4 {
    -webkit-transform: translate(0px,308px);
    transform: translate(0px,308px)
}

#game-5 .tile-container .tile.position-1-0 {
    -webkit-transform: translate(77px,0);
    transform: translate(77px,0)
}

#game-5 .tile-container .tile.position-1-1 {
    -webkit-transform: translate(77px,77px);
    transform: translate(77px,77px)
}

#game-5 .tile-container .tile.position-1-2 {
    -webkit-transform: translate(77px,154px);
    transform: translate(77px,154px)
}

#game-5 .tile-container .tile.position-1-3 {
    -webkit-transform: translate(77px,231px);
    transform: translate(77px,231px)
}

#game-5 .tile-container .tile.position-1-4 {
    -webkit-transform: translate(77px,308px);
    transform: translate(77px,308px)
}

#game-5 .tile-container .tile.position-2-0 {
    -webkit-transform: translate(154px,0);
    transform: translate(154px,0)
}

#game-5 .tile-container .tile.position-2-1 {
    -webkit-transform: translate(154px,77px);
    transform: translate(154px,77px)
}

#game-5 .tile-container .tile.position-2-2 {
    -webkit-transform: translate(154px,154px);
    transform: translate(154px,154px)
}

#game-5 .tile-container .tile.position-2-3 {
    -webkit-transform: translate(154px,231px);
    transform: translate(154px,231px)
}

#game-5 .tile-container .tile.position-2-4 {
    -webkit-transform: translate(154px,308px);
    transform: translate(154px,308px)
}

#game-5 .tile-container .tile.position-3-0 {
    -webkit-transform: translate(231px,0);
    transform: translate(231px,0)
}

#game-5 .tile-container .tile.position-3-1 {
    -webkit-transform: translate(231px,77px);
    transform: translate(231px,77px)
}

#game-5 .tile-container .tile.position-3-2 {
    -webkit-transform: translate(231px,154px);
    transform: translate(231px,154px)
}

#game-5 .tile-container .tile.position-3-3 {
    -webkit-transform: translate(231px,231px);
    transform: translate(231px,231px)
}

#game-5 .tile-container .tile.position-3-4 {
    -webkit-transform: translate(231px,308px);
    transform: translate(231px,308px)
}

#game-5 .tile-container .tile.position-4-0 {
    -webkit-transform: translate(308px,0);
    transform: translate(308px,0)
}

#game-5 .tile-container .tile.position-4-1 {
    -webkit-transform: translate(308px,77px);
    transform: translate(308px,77px)
}

#game-5 .tile-container .tile.position-4-2 {
    -webkit-transform: translate(308px,154px);
    transform: translate(308px,154px)
}

#game-5 .tile-container .tile.position-4-3 {
    -webkit-transform: translate(308px,231px);
    transform: translate(308px,231px)
}

#game-5 .tile-container .tile.position-4-4 {
    -webkit-transform: translate(308px,308px);
    transform: translate(308px,308px)
}

#game-5 .tile-container .tile.tile-2 .tile-inner {
    background: #EEE4DA
}

#game-5 .tile-container .tile.tile-4 .tile-inner {
    background: #EAE0C8
}

#game-5 .tile-container .tile.tile-8 .tile-inner {
    background: #F59563
}

#game-5 .tile-container .tile.tile-16 .tile-inner {
    background: #39f
}

#game-5 .tile-container .tile.tile-32 .tile-inner {
    background: #ffa333
}

#game-5 .tile-container .tile.tile-64 .tile-inner {
    background: #cef030
}

#game-5 .tile-container .tile.tile-128 .tile-inner {
    background: #E8D8CE
}

#game-5 .tile-container .tile.tile-256 .tile-inner {
    background: #990303
}

#game-5 .tile-container .tile.tile-512 .tile-inner {
    background: #6BA5DE
}

#game-5 .tile-container .tile.tile-1024 .tile-inner {
    background: #DCAD60
}

#game-5 .tile-container .tile.tile-2048 .tile-inner {
    background: #B60022
}

#game-5 .tile-container .tile:last-child {
    margin-right: 0
}

#game-5 .tile-container .tile .tile-inner {
    line-height: 65px;
    text-align: center;
    font-weight: 700;
    z-index: 10;
    font-size: 2.5em
}

#game-6 {
    position: relative;
    padding: 15px;
    cursor: default;
    background: #bbaaa0;
    border-radius: 6px;
    width: 400px;
    height: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#game-6 .grid-container {
    position: absolute;
    z-index: 1;
    margin: 0 auto
}

#game-6 .grid-container .grid-cell {
    width: 49.16667px;
    height: 49.16667px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238,228,218,.35)
}

#game-6 .grid-container .grid-cell:last-child {
    margin-right: 0
}

#game-6 .tile-container {
    position: absolute;
    z-index: 2
}

#game-6 .tile-container .tile {
    font-family: 'Open Sans',sans-serif;
    position: absolute;
    width: 49.16667px;
    height: 49.16667px;
    border-radius: 3px;
    transition: 170ms ease-in-out;
    transition-property: transform;
    z-index: 2
}

#game-6 .tile-container .tile.tile-merged .tile-inner {
    -webkit-animation: pop 200ms ease-in;
    -ms-animation: pop 200ms ease-in;
    animation: pop 200ms ease-in
}

#game-6 .tile-container .tile.position-0-0 {
    -webkit-transform: translate(0px,0);
    transform: translate(0px,0)
}

#game-6 .tile-container .tile.position-0-1 {
    -webkit-transform: translate(0px,64.16667px);
    transform: translate(0px,64.16667px)
}

#game-6 .tile-container .tile.position-0-2 {
    -webkit-transform: translate(0px,128.33333px);
    transform: translate(0px,128.33333px)
}

#game-6 .tile-container .tile.position-0-3 {
    -webkit-transform: translate(0px,192.5px);
    transform: translate(0px,192.5px)
}

#game-6 .tile-container .tile.position-0-4 {
    -webkit-transform: translate(0px,256.66667px);
    transform: translate(0px,256.66667px)
}

#game-6 .tile-container .tile.position-0-5 {
    -webkit-transform: translate(0px,320.83333px);
    transform: translate(0px,320.83333px)
}

#game-6 .tile-container .tile.position-1-0 {
    -webkit-transform: translate(64.16667px,0);
    transform: translate(64.16667px,0)
}

#game-6 .tile-container .tile.position-1-1 {
    -webkit-transform: translate(64.16667px,64.16667px);
    transform: translate(64.16667px,64.16667px)
}

#game-6 .tile-container .tile.position-1-2 {
    -webkit-transform: translate(64.16667px,128.33333px);
    transform: translate(64.16667px,128.33333px)
}

#game-6 .tile-container .tile.position-1-3 {
    -webkit-transform: translate(64.16667px,192.5px);
    transform: translate(64.16667px,192.5px)
}

#game-6 .tile-container .tile.position-1-4 {
    -webkit-transform: translate(64.16667px,256.66667px);
    transform: translate(64.16667px,256.66667px)
}

#game-6 .tile-container .tile.position-1-5 {
    -webkit-transform: translate(64.16667px,320.83333px);
    transform: translate(64.16667px,320.83333px)
}

#game-6 .tile-container .tile.position-2-0 {
    -webkit-transform: translate(128.33333px,0);
    transform: translate(128.33333px,0)
}

#game-6 .tile-container .tile.position-2-1 {
    -webkit-transform: translate(128.33333px,64.16667px);
    transform: translate(128.33333px,64.16667px)
}

#game-6 .tile-container .tile.position-2-2 {
    -webkit-transform: translate(128.33333px,128.33333px);
    transform: translate(128.33333px,128.33333px)
}

#game-6 .tile-container .tile.position-2-3 {
    -webkit-transform: translate(128.33333px,192.5px);
    transform: translate(128.33333px,192.5px)
}

#game-6 .tile-container .tile.position-2-4 {
    -webkit-transform: translate(128.33333px,256.66667px);
    transform: translate(128.33333px,256.66667px)
}

#game-6 .tile-container .tile.position-2-5 {
    -webkit-transform: translate(128.33333px,320.83333px);
    transform: translate(128.33333px,320.83333px)
}

#game-6 .tile-container .tile.position-3-0 {
    -webkit-transform: translate(192.5px,0);
    transform: translate(192.5px,0)
}

#game-6 .tile-container .tile.position-3-1 {
    -webkit-transform: translate(192.5px,64.16667px);
    transform: translate(192.5px,64.16667px)
}

#game-6 .tile-container .tile.position-3-2 {
    -webkit-transform: translate(192.5px,128.33333px);
    transform: translate(192.5px,128.33333px)
}

#game-6 .tile-container .tile.position-3-3 {
    -webkit-transform: translate(192.5px,192.5px);
    transform: translate(192.5px,192.5px)
}

#game-6 .tile-container .tile.position-3-4 {
    -webkit-transform: translate(192.5px,256.66667px);
    transform: translate(192.5px,256.66667px)
}

#game-6 .tile-container .tile.position-3-5 {
    -webkit-transform: translate(192.5px,320.83333px);
    transform: translate(192.5px,320.83333px)
}

#game-6 .tile-container .tile.position-4-0 {
    -webkit-transform: translate(256.66667px,0);
    transform: translate(256.66667px,0)
}

#game-6 .tile-container .tile.position-4-1 {
    -webkit-transform: translate(256.66667px,64.16667px);
    transform: translate(256.66667px,64.16667px)
}

#game-6 .tile-container .tile.position-4-2 {
    -webkit-transform: translate(256.66667px,128.33333px);
    transform: translate(256.66667px,128.33333px)
}

#game-6 .tile-container .tile.position-4-3 {
    -webkit-transform: translate(256.66667px,192.5px);
    transform: translate(256.66667px,192.5px)
}

#game-6 .tile-container .tile.position-4-4 {
    -webkit-transform: translate(256.66667px,256.66667px);
    transform: translate(256.66667px,256.66667px)
}

#game-6 .tile-container .tile.position-4-5 {
    -webkit-transform: translate(256.66667px,320.83333px);
    transform: translate(256.66667px,320.83333px)
}

#game-6 .tile-container .tile.position-5-0 {
    -webkit-transform: translate(320.83333px,0);
    transform: translate(320.83333px,0)
}

#game-6 .tile-container .tile.position-5-1 {
    -webkit-transform: translate(320.83333px,64.16667px);
    transform: translate(320.83333px,64.16667px)
}

#game-6 .tile-container .tile.position-5-2 {
    -webkit-transform: translate(320.83333px,128.33333px);
    transform: translate(320.83333px,128.33333px)
}

#game-6 .tile-container .tile.position-5-3 {
    -webkit-transform: translate(320.83333px,192.5px);
    transform: translate(320.83333px,192.5px)
}

#game-6 .tile-container .tile.position-5-4 {
    -webkit-transform: translate(320.83333px,256.66667px);
    transform: translate(320.83333px,256.66667px)
}

#game-6 .tile-container .tile.position-5-5 {
    -webkit-transform: translate(320.83333px,320.83333px);
    transform: translate(320.83333px,320.83333px)
}

#game-6 .tile-container .tile.tile-2 .tile-inner {
    background: #EEE4DA
}

#game-6 .tile-container .tile.tile-4 .tile-inner {
    background: #EAE0C8
}

#game-6 .tile-container .tile.tile-8 .tile-inner {
    background: #F59563
}

#game-6 .tile-container .tile.tile-16 .tile-inner {
    background: #39f
}

#game-6 .tile-container .tile.tile-32 .tile-inner {
    background: #ffa333
}

#game-6 .tile-container .tile.tile-64 .tile-inner {
    background: #cef030
}

#game-6 .tile-container .tile.tile-128 .tile-inner {
    background: #E8D8CE
}

#game-6 .tile-container .tile.tile-256 .tile-inner {
    background: #990303
}

#game-6 .tile-container .tile.tile-512 .tile-inner {
    background: #6BA5DE
}

#game-6 .tile-container .tile.tile-1024 .tile-inner {
    background: #DCAD60
}

#game-6 .tile-container .tile.tile-2048 .tile-inner {
    background: #B60022
}

#game-6 .tile-container .tile:last-child {
    margin-right: 0
}

#game-6 .tile-container .tile .tile-inner {
    line-height: 51.66667px;
    text-align: center;
    font-weight: 700;
    z-index: 10;
    font-size: 2.5em
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes pop {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes pop {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}